/* navbar */
.navbar-left .img-fluid {
    max-width: 4rem;
}

/* detail.html */
.rounded-lg {
	border-radius: 0.5rem !important;
}

.list-group-item {
	border: none;
	border-radius: 0.25rem;
}

hr {
	margin-top: 0;
	margin-bottom: 2rem;
}

#seat_panel {
	min-width: 400px;
}

.seat{
	margin: 0.15rem;
	min-width: 2.5rem;
}