/* navbar */
.navbar-left .img-fluid {
    max-width: 4rem;
}

/* index.html */

#cover {  
    max-width: 100rem; 
    width: 100%;
    height: auto;
}

@media screen and (min-width: 1500px) {
	#cover {  
    	max-width: 100rem; 
    	width: 100rem;
    	height: auto;
	}
}

@media screen and (max-width: 1200px) {
	#cover {  
    	max-width: 100rem; 
    	width: 100%;
    	height: auto;
	}
}

/* profile.css */
#info-section{
	min-height: 40rem;
}